body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.small-logo{
    background-image: url("assets/img/logo/USocks_Logo_small.png");
    border-style: dashed ;
    border-color: green;

    border-width: 5px;

    display:none;
}

.footer-header {

    position: relative;
    right: 40%;

}

.card-text{


}

#myProductCard{
display: inline-block;

}
.header {

    color: black;
}

button.btn.btn-sm.btn-warning.float-right {

    background-color: red;
    color: white;
}

#addCartButton {




    background-color: black !important;


}


nav.primary-nav.light {

    /*margin: 0 auto; */
}

.react-search-field.test-class {

}

#emailButton {


    color: black !important;

    background-color: black !important;
}


#cartTitleHeader {

    /* Css element for the header of the "view cart" page */
    /* cart/CartHeader.js */


}


#removeMyCartButton{

    /* Css element for the "Remove from cart" button */
    /* MyCart/CartItem.js */


    background-color: black;

}

#orderButton{

    /* Css element for the "Order" button */
    /* MyCart/Cart.js */

    background-color: green;
}

#loginButton{

    /* Css element for the "Login" button */
    /* MyLogin/Loginform.js */




    background-color: black !important;
}

#loginBox{

    /* Css element for the "Login box" (Input fields and button) */
    /* MyLogin/Loginform.js */

    position: relative;
    margin-top: 10%;
}

#RegisterButton{

    /* Css element for the "Register user" button */
    /* RegisterForm/UserForm.js */


    background-color: black !important;

}

#registerBox{

    /* Css element for the "Register box" (Input fields and button) */
    /* RegisterForm/UserForm.js */

    position: relative;
    margin-top: 10%;
}



.primary-nav.light{


}

nav.primary-nav.light{

color: black ;

}



.broken-body .light .scrolled .logo-link:link, .broken-body .light .scrolled .logo-link:visited, .broken-body .light .scrolled a:link, .broken-body .light .scrolled a:visited, .broken-body footer a:link, .broken-body footer a:visited, .light .nav-container:not(.scrolled) .logo .logo-link:link, .light .nav-container:not(.scrolled) .logo .logo-link:visited, .light .nav-container:not(.scrolled) .primary-nav a:link, .light .nav-container:not(.scrolled) .primary-nav a:visited, .light .nav-container:not(.scrolled) .secondary-nav a:link, .light .nav-container:not(.scrolled) .secondary-nav a:visited{


    color:black;
}


nav-container.scrolled{}
#selectBox{

    /* Css element for the "Size Select form"  */
    /* MyCart/CartItem.js */

    height: 1%!important;
    width:10%;
}










