body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.footer-header {

    position: relative;
    right: 40%;

}


.header {

    color: black;
}

button.btn.btn-sm.btn-warning.float-right {

    background-color: red;
    color: white;
}

#addCartButton {


    background-color: black !important;
}

nav.primary-nav.light {

    /*margin: 0 auto; */
}

.react-search-field.test-class {

}

#emailButton {


    color: black !important;

    background-color: black !important;
}


#cartTitleHeader {

    /* Css element for the header of the "view cart" page */
    /* cart/CartHeader.js */


}


#removeMyCartButton{

    /* Css element for the "Remove from cart" button */
    /* MyCart/CartItem.js */


    background-color: black;

}

#orderButton{

    /* Css element for the "Order" button */
    /* MyCart/Cart.js */

    background-color: green;
}

#loginButton{

    /* Css element for the "Login" button */
    /* MyLogin/Loginform.js */




    background-color: black !important;
}

#loginBox{

    /* Css element for the "Login box" (Input fields and button) */
    /* MyLogin/Loginform.js */

    position: relative;
    margin-top: 10%;
}

#RegisterButton{

    /* Css element for the "Register user" button */
    /* RegisterForm/UserForm.js */


    background-color: black !important;

}

#registerBox{

    /* Css element for the "Register box" (Input fields and button) */
    /* RegisterForm/UserForm.js */

    position: relative;
    margin-top: 10%;
}

#clickMyImage {


    color: #ed1212;
    cursor: zoom-in;

}











