body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.footer-header {

    position: relative;
    right: 40%;

}


.header {

    color: black;
}

button.btn.btn-sm.btn-warning.float-right {

    background-color: red;
    color: white;
}

#addCartButton {


    background-color: black !important;
}

nav.primary-nav.light {

    /*margin: 0 auto; */
}

.react-search-field.test-class {

}

#emailButton {


    color: black !important;

    background-color: black !important;
}


#cartTitleHeader {
    /* Css element for the header of the "view cart" page */
    /* cart/CartHeader.js */


}


#removeMyCartButton{

    /* Css element for the "Remove from cart" button */
    /* MyCart/CartItem.js */


    background-color: black;

}

#orderButton{

    /* Css element for the "Order" button */
    /* MyCart/Cart.js */

    background-color: green;
}


